:root{
    --burgerDark:#115b4c;
    --burgerLight: #86EDC8;
}
.label{
    background-color: var(--burgerLight);
    position: fixed;
    top: 6rem;
    right: 6rem;
    border-radius: 50%;
    height: 7rem;
    width: 7rem;
    cursor: pointer;
    z-index: 1000;
    box-shadow:0 1rem 3rem rgba(182, 237, 200, 0.3);
    text-align: center;
}
.backGround{
    position: fixed;
    top: 6.5rem;
    left: 6.5rem;
    background-image: radial-gradient(var(--burgerDark), var(--burgerLight));
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
}